h1{
  color: white;
  text-align: center;
  font-family: 'Helvetica Neue', sans-serif;
  font-weight: bold;
}

h2{
  color: white;
  font-size: 40px;
  text-align: center;
  font-family: 'Helvetica Neue', sans-serif;
  font-weight: bold;
}

table.center{
  margin-left: auto;
  margin-right: auto;
}
body{
  text-align: center;
  background-color: darkgrey;
}

.header{
  width: 100%;
  height: 50px;
  display: block;
  background-color: #101010;
}

.inner_header{
  width: 90%;
  height: 100%;
  display: block;
  margin: 0 auto;
}

.logo_container{
  height: 100%;
  display: table;
  float: left;
}

.logo_container h1{
  color: white;
  height: 100%;
  display: table-cell;
  vertical-align: middle;
  font-family: 'Helvetica';
  font-size: 32px;
}

.logo_container h1 span{
  font-weight: 800;
}

.navigation{
  float: right;
  height: 100%;
}

.navigation a{
  height: 100%;
  display: table;
  float: left;
  padding: 0px 20px;
}

.navigation a:last-child{
  padding-right: : 0;
}

.navigation a li{
  display: table-cell;
  vertical-align: middle;
  height: 100%;
  color: white;
  font-family: 'Helvetica';
  font-size: 16px;
}

.navigation a li:hover{
  filter: brightness(5.0);
  transform: scale(1.1);
}

.HomePage img:hover{
  filter: blur(100%);
}

.E30_Gallery{
  margin: 10px 50px;
}

.E30_Gallery img {
  transition: 1s;
  padding: 15px;
  width: 400px;
}

.E30_Gallery img:hover {
  filter: grayscale(100%);
  transform: scale(1.1);
}

.E36_Gallery{
  margin: 10px 50px;
}

.E36_Gallery img {
  transition: 1s;
  padding: 15px;
  width: 400px;
}

.E36_Gallery img:hover {
  filter: grayscale(100%);
  transform: scale(1.1);
}

.E46_Gallery{
  margin: 10px 50px;
}

.E46_Gallery img {
  transition: 1s;
  padding: 15px;
  width: 400px;
}

.E46_Gallery img:hover {
  filter: grayscale(100%);
  transform: scale(1.1);
}

.G80_Gallery{
  margin: 10px 50px;
}

.G80_Gallery img {
  transition: 1s;
  padding: 15px;
  width: 400px;
}

.G80_Gallery img:hover {
  filter: grayscale(100%);
  transform: scale(1.1);
}

.E92_Gallery{
  margin: 10px 50px;
}

.E92_Gallery img {
  transition: 1s;
  padding: 15px;
  width: 400px;
}

.E92_Gallery img:hover {
  filter: grayscale(100%);
  transform: scale(1.1);
}

.F80_Gallery{
  margin: 10px 50px;
}

.F80_Gallery img {
  transition: 1s;
  padding: 15px;
  width: 400px;
}

.F80_Gallery img:hover {
  filter: grayscale(100%);
  transform: scale(1.1);
